nav.navbar.bg-dark {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  background-image: url('/images/header1.jpeg');
  background-size: cover;
}

nav.navbar span.navbar-brand a {
  cursor: pointer;
  color: white;
}

nav.navbar span.navbar-brand a:hover {
  text-decoration: underline;
}
