.main.container {
  /* screen height - header height - footer height */
  min-height: calc(100vh - 55px - 130px);
}

@media (min-width: 992px) {
  .main.container {
    min-height: calc(100vh - 100px - 130px);
  }
}

body {
  padding-top: 54px;
  line-height: 1.75;
  font-size: 1.2rem;
  font-family: 'Times New Roman', 'Open Sans', sans-serif;
  color: #534040;
}

h2.card-title {
  font-size: 2.25rem;
  color: #837474;
}

.card-body h6.card-subtitle {
  font-size: 1rem;
  margin-bottom: 2.5rem;
}

/* btn custom style */
a.btn {
  color: white;
  margin: 1rem 0;
  border: none;
  background-color: #72840E;
  width: 100px;
}

a.btn:hover {
  color: white;
  font-weight: bold;
  background-color: #7C8E14;
}

/* cards custom style */
h5.card-header {
  background-color: white;
}

div.card {
  border: none;
}

h6.card-subtitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  color: #6c757d;
}

div.card-footer {
  border-top: none;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: white;
}

@media (min-width: 992px) {
  body {
    padding-top: 100px;
  }
  nav.bg-dark {
    height: 100px;
  }
}
