.main.container {
  /* screen height - header height - footer height */
  min-height: calc(100vh - 54px - 115px);
}

@media (min-width: 992px) {
  .main.container {
    min-height: calc(100vh - 100px - 115px);
  }
}

body {
  padding-top: 54px;
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 1.5rem;
  color: #242a0c;
}

h5 {
  font-size: 1rem;
  color: #242a0c;
}

/* btn custom style */
a.btn {
  margin-left: 1.25rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  border: none;
  background-color: #72840E;
  width: 100px;
}
a.btn:hover {
  background-color: #7C8E14;
}

/* cards custom style */
h5.card-header {
  background-color: white;
}

div.card {
  border: none;
}

h6.card-subtitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  color: #6c757d;
}

div.card-footer {
  border-top: none;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: white;
}

@media (min-width: 992px) {
  body {
    padding-top: 100px;
  }
  nav.bg-dark {
    height: 100px;
  }
}
